#map-image {
  width: 100%;
}

.weightInfo {
  position: absolute;
  width: 500px;
  background: #c0d0e694;
  top: 0px;
  right: 0px;
  height: 100%;
}

.weightInfoBtn {
  position: absolute;
  top: 0px;
  right: 0px;
}